.app-contaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 3rem 0.5rem;
}

.all-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product img {
    width: 25%;
    margin: auto auto;
}

.product {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 100px 10px rgb(229, 229, 229);
    cursor: pointer;

}

.product:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
}

.show-detail {
    text-decoration: none;
    background-color: #e2e2e2;
    color: black;
    font-weight: 500;
    padding: 0.2rem 0;
    width: 40%;
    margin: 1rem auto;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 2px #97979780;
}

.show-detail:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    background-color: #cccccc;
}